
<div id="message">
<%=form_for([@order, @order.messages.new] ) do |f| %>
<table>
  <tr>
    <% if current_user.admin %>
    <span><%= f.hidden_field :sender, :value => 'administrator' %></span>
    <% else %>
    <span><%= f.hidden_field :recipient, :value => 'administrator' %></span>
    <% end %>
  </tr>
  <tr>
    <td><%= f.text_field :subject, :cols => "30", :placeholder=>"Enter Message Subject"%></td>
    
  </tr>

  </tr>
  <td><%= f.text_area :body, :cols => "30", :rows => "10", :placeholder=>"Enter Message Here" %></td>
  
  
  </tr>
    <tr>
      <td><%= f.submit "Send Message", :class=>"btn btn-large btn-primary" %><span></td>
      
</tr>
</table>
<% end %>
<div>