<div class="login">
<% if flash[:notice] %>
<p id="notice"><%= flash[:notice] %></p>
 <% end %>
 
<%=form_for(:session, :url=>sessions_path) do |f|%>
<table>
	<tr>
		<td><large>Login</large></td>
	</tr>
	<tr>
<td><%=f.text_field :email, :placeholder=>"Email" %></td>
</tr>
<tr>
	<td><%=f.password_field :password, :placeholder=>"Password" %></td>
</tr>
<tr>

<td><%=f.submit "Sign in", :class=>"btn btn-large btn-primary"%></td>
</tr>
<% end %>
<tr>
<td> New Customer? <%=link_to "Signup", signup_path %></td></td>
</tr>
</table>
</div>