
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "articles", media: "all" %>
<div id="elixirs">
<% unless signed_in?%>
<div id="login">
  <%= render :file => 'sessions/new' %>
</div>
  <% end %>
  <p></p>

<div id="features">

<h4><span class="btn btn-large btn btn-info">Advantages</span></h4>
    <ul>
   <li>30 Days Money Back Guarantee</li>
    <li>Prices as low as 10$/page</li>
    <li>We accept urgent orders</li>
    <li>Experienced and capable writers</li>
    <li>Plagiarism detection systems/software</li>
    <li>No charges on revisions</li>
    <li>We respond to all types of assignments</li>
    <li>Flexible pricing and great discounts</li>
    <li>...and Others!</li>
</ul>
</div>
</div>
<div id="index">
  <div id="blog">
<p>
  <h3><u><%= @article.title %></u></h3>
    Published by <u><%= @article.author %></u></br>
    <u><%= @article.published_at %></u></br>
</p>
<p>
  <%= @article.body %>
</p>
<p>
<span class="btn btn-large btn btn-default"><%= link_to 'Back', articles_path %></span>
</p>
<div>
<span class="btn btn-large btn btn-default"><h2><%=link_to "Buy Custom Essay", order_now_path %></span></h2>
</div>
</div>
</div>
