<%= form_for(@customer) do |f| %>
<%=render 'shared/error_messages', :object=>f.object%>
  <div class="tableRow">
    <span><%= f.label :firstname %>*</span>
    <span><%= f.text_field :firstname %></span>
  </div>
  <div class="tableRow">
    <span><%= f.label :lastname %></span>
    <span><%= f.text_field :lastname %></span>
  </div>
  <div class="tableRow">
   <span> <%= f.label :email %></span>
    <span><%= f.text_field :email %></span>
  </div>
  <div class="tableRow">
    <span><%= f.label :password %></span>
   <span><%= f.password_field :password %></span>
  </div>
  <div class="tableRow">
    <span><%= f.label :Password_confirmation %></span>
    <span><%= f.password_field :password_confirmation %></span>
  </div>
  <div class="tableRow">
    <span><%= f.label :country %></span>
    <span><%= f.text_field :country %></span>
  </div>
  <div class="tableRow">
    <span><%= f.label :contact %></span>
    <span><%= f.text_field :contact %></span>
  </div>
  <div class="tableRow">
    <span></span>
    <span><%= f.submit "Submit", :class=>"btn btn-large btn-default"%></span>
  </div>
<% end %>
