
<%= stylesheet_link_tag  "orders", media: "all" %>
<div class="upperpart">
	<p>Theacademicwriters</p>
	<span>
weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</br>
weeeeeeeeeeeeeeeeeeeeeeeeeeee</br>
</div>
</div>
<div id='cssmenu'>
	<ul>
    <li class="active"><%=link_to "Home", root_path %></li>
    <li><%=link_to "Order Now", order_now_path %></li>
    <li><%=link_to "Pricing", pricing_path %></li>
    
    <li><a href="op.html">Testimonials</a></li>
    <li><a href="#">Sample Paper</a></li>
    <li class='last'><a href="st.html">Contact Us</a></li>
    </ul>
</div>
<div class="upperbar">
	<ul>
    <li>Welcome: <%=current_user.firstname%></li>
    <li>The Time is <%=Time.now%></li>
    
</div>
<div class="account">
	<ul>
		<li><%= link_to "Profile", edit_customer_path(current_user)%></li></br>
		<li><%= link_to 'messages', '#'%></li></br>
		<li><%= link_to "My Orders", current_user%></li></br>
		<li><%= link_to 'processing_orders', '#'%></li></br>
		<li><%= link_to 'complete_orders', '#'%></li></br>
		<li><%= link_to 'revisions', '#'%></li></br>
		<li><%= link_to "Sign out", signout_path, :method=> "delete" %></li></br>
	</ul>
</div>
<%= render 'form' %>