<div id="show">
<%=will_paginate @orders%>

<table>
	<caption>
   <b>
<% if order.states.count(:complete) - order.states.count(:revision) >0%>
<span class="badge badge-important">Complete</span>
<% end %>
</b>
<b>
<% if order.states.count(:complete)>0 %>
<% if order.states.count(:complete) - order.states.count(:revision)==0 %>
<span class="badge badge-important">Revision</span>
<% end %>
<% end %>
</b>
    <b><%= order.topic %>:</b><%= link_to 'Order Details', order, :class=>"btn btn-large btn-primary" %></b>
</b><%= link_to 'Upload files', order, :class=>"btn btn-large btn-primary" %></b>
<span><%= link_to 'messages', order%>|<span class="badge badge-important"> <%=order.messages.count(:sender) %></span></span>

</caption>
<tr>
<th> Deadline:</th>
<th><%= order.urgency %></th>
<th>Time remaining</th>
</tr>
<tr>
<td>PaperID:</td>
<td>#0412<%=order.id%>90</td>
<td>No of Pages</td>
<td><%=order.pages%></td>
</tr>
<tr>
<td>Order type:</td>
<td><%=order.documenttype%></td>
<td>Sources</td>
<td><%=order.references%></td>
</tr>
<p></p>
</table>
</div>
