<h1>Listing orders</h1>
<%=will_paginate %>

<table>
  <tr>
    <th>Topic</th>
    <th>Subject</th>
    <th>Documenttype</th>
    <th>Pages</th>
    <th>Urgency</th>
    <th>References</th>
    <th>Citation</th>
    <th>Level</th>
    <th>Language</th>
    <th>Instructions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.topic %></td>
    <td><%= order.subject %></td>
    <td><%= order.documenttype %></td>
    <td><%= order.pages %></td>
    <td><%= order.urgency %></td>
    <td><%= order.references %></td>
    <td><%= order.citation %></td>
    <td><%= order.level %></td>
    <td><%= order.language %></td>
    <td><%= order.instructions %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Order', new_order_path %>

<%=will_paginate %>
