<%= stylesheet_link_tag  "orders", media: "all" %>
<div class="upperpart">
	<p>Theacademicwriters</p>
	<p>
weeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
<p>weeeeeeeeeeeeeeeeeeeeeeeeeeee</p>

</span>
</div>
<div id='cssmenu'>
	<ul>
    <li class="active"><%=link_to "Home", root_path %></li>
    <li><%=link_to "Order Now", order_now_path %></li>
    <li><%=link_to "Pricing", pricing_path %></li>
    
    <li><a href="op.html">Testimonials</a></li>
    <li><a href="#">Sample Paper</a></li>
    <li class='last'><a href="st.html">Contact Us</a></li>
    </ul>
</div>
<div class="upperbar">
	<ul>
    <li>Welcome: <%=current_user.firstname%></li>
    <li>The Time is <%=Time.now%></li>
    
</div>
<div class="account">
	<ul>
		<h4 class="btn btn-large btn btn-primary">Account/Orders</h4>
		<li><%= link_to "Profile", edit_customer_path(current_user)%></li></br>

		<li><%= link_to 'messages', '#'%>|<span class="badge badge-important">
			<%=@order.messages.count(:sender) %></span></li></br>
		<% if current_user.admin %>
		<li><%= link_to "Orders", orders_url%></li></br>
		<% else %>
		<li><%= link_to "My Orders", current_user%></li></br>
		<% end %>
		
		<li><%= link_to 'processing_orders', '#'%></li></br>
		<li><%= link_to 'complete_orders', '#'%>|
			<span class="badge badge-important">
			<%=@order.states.count(:complete) - @order.states.count(:revision)%> 
		</span>
	</li></br>
		<li><%= link_to 'revisions', '#'%>|
			<% if @order.states.count(:complete) %>
			<% if @order.states.count(:complete) - @order.states.count(:revision)==0 %>
			<span class="badge badge-important">1</span>
			<% end %>
			<% end %>
		</li></br>
			

		<li><%= link_to "Sign out", signout_path, :method=> "delete" %></li></br>
	</ul>
</div>
<div class="guarantee2">
	<h3>PayPal Verified</h3>
	<span>1. Fill our sign up form and place your order</span></br>
	<p></p>
	<span>2. Log in to your account and pay for the order</span></br>
	<p></p>
	<span>3. Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
	<span>Log in to your account and pay for the order</span></br>
	<p></p>
	<span>Trace your order progress</span></br>
	<p></p>
	<span>Fill our sign up form and place your order</span></br>
	<p></p>
</div>
<div class="free">
	<h4 class="btn btn-large btn btn-info">Service Features</h4>
		<ul>
   <li>Art and Design</li>
    <li>Business and Economics</li>
    <li>Communication and Media</li>
    <li>Education</li>
    <li>Health and Medicine</li>
    <li>History</li>
    <li>IT</li>
    <li>Law</li>
    <li>Literature and Languages</li>
    <li>Mathematics</li>
    <li>Natural Sciences</li>
    <li>Political Sciences</li>
    <li>Social Sciences</li>
    <li>Technology and Engineering</li>
    <li>...and Others!</li>
</ul>
</div>
<div class="show">
<p id="notice"> <%=notice %></p>
<table>
  <caption>

    <b id="topic"><%= @order.topic %></b>
    <b><%=link_to "Send A Message", new_order_message_path(@order, :format=>:js),
	:remote=>true, :id=>'new_message_link', :class=>"btn btn-small btn-primary"  %></b>

	<b><%=link_to "Read Message", order_messages_path(@order, :format=>:js),
	:remote=>true, :id=>'read_message_link', :class=>"btn btn-large btn-primary"  %></b>
	<% if current_user.admin %>
	<b><%=link_to "Mark as Complete", new_order_state_path(@order, :format=>:js),
	:remote=>true, :id=>'request_link', :class=>"btn btn-large btn-primary"  %></b>
	<% else %>
	<b><%=link_to "Request Revision", new_order_state_path(@order, :format=>:js),
	:remote=>true, :id=>'request_link', :class=>"btn btn-large btn-primary"  %></b>
	<% end %>
	</caption>
<tr>
<th> Deadline:</th>
<th><%= @order.urgency %></th>
<th>Time remaining</th>
<th></th>
</tr>
<tr>
<td>PaperID:</td>
<td>#0412<%=@order.id%>90</td>
<td>Pages</td>
<td><%=@order.pages%></td>
</tr>
<tr>
<td>Order type:</td>
<td><%=@order.documenttype%></td>
<td>Sources</td>
<td><%=@order.references%></td>
</tr>
<tr>
<td>Style:</td>
<td><%= @order.citation %></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Language:</td>
<td><%= @order.language %></td>
<td>Total Cost:</td>
<td>$<%=@total_price%></td>
</tr>
<tr>
<td>Instructions</td>
<td><%= @order.instructions %> </td>
<td><% unless @order.purchased_at %>
<td ><%=link_to image_tag("Paypal.png", :alt=>"Buy With PayPal"), @order.paypal_url(order_url, payment_notifications_url)%> </td>
<% end %>
</td>
<td></td>
<tr>
<td class="uploads">
<%= render :file => 'uploadfiles/new' %>
</td>
<td>Attachements: <%=@order.uploadfiles.count%></td>
<% if @order.uploadfiles%>
	<td> <% @order.uploadfiles.each do |uploadfile| %>
        <span><%= uploadfile.name %></span></br>
        <span><%= link_to "Download file", uploadfile.attachment_url %></span>
    <% end %>
    </td>
    <% end %>
</table>

