<%= stylesheet_link_tag  "orders", media: "all" %>

<div id="show2">
<p id="notice"> <%=notice %></p>


    <table class="table table-striped">

        <thead>

            <tr>
            	<th>Paper ID</th>

                <th>Order Topic</th>

                <th>Deadline</th>

                <th>Order Type</th>

                <th>Style</th>

                <th>Language</th>

                <th>No of Pages</th>

                <th>No of Sources</th>

                <th>Instructions</th>

                <th>Total Cost</th>

            </tr>

        </thead>

        <tbody>

            <tr>
            	<td><%=@order.id%></td>

                <td><%= @order.topic %></td>

                <td><%= @order.created_at + @order.deadline.hours%></td>

                <td><%=@order.documenttype%></td>

                <td><%= @order.citation %></td>

                <td><%= @order.language %></td>

                <td><%=@order.pages%></td>

                <td><%=@order.references%></td>

                <td><%= @order.instructions %> </td>

                <td>$<%=@total_price%></td>
            </tr>
        </tbody>

        </table>
        <table class="table">
        	<tbody>
            <tr>
            	<td>
            		<%if @order.payments.empty? %>
            		<%=link_to image_tag("Paypal.png", :alt=>"Buy With PayPal"), @order.paypal_url(orders_url, notification_orders_url)%>
            		<%else%>
            		<b class="btn btn-large btn btn-info"> Processing <b>
            		<% end %>
            	</td>
            	<td id="uploads">

            		<%= render :file => 'uploadfiles/new' %>
            		<% if @order.uploadfiles%>
            		<% @order.uploadfiles.each do |uploadfile| %>
            			<span><%= uploadfile.name %></span>:
            			<span><%= link_to "Download file", uploadfile.attachment_url %></span></br>
            			<% end %>
            		<% end %>
            	</td>
            	<td>
            		<% if current_user.admin %>
            		<li class="btn btn-small btn-default"><%= link_to "Mark as Complete", order_path(@order, :order=>{:marking=>"complete"}), :method=>:put, :confirmation=>"Are you Sure"%></li>
            		<% end%>
            	</td>
            </tr>
            <tr class="active">
            	<td id="contactus">
            		<em> Your order will be done as soon as you pay </em>
            	</td>
            	<td id="message4">
            		<%=link_to "Contact Support", new_order_message_path(@order, :format=>:js),
            	:remote=>true, :id=>'new_message_link', :class=>"btn btn-small btn-danger"  %>
            </td>
            <td>
            	<%=link_to "Messages", order_messages_path(@order, :format=>:js),
            	:remote=>true, :id=>'read_message_link' %>|<span class="badge badge-important">
            	<%=@order.messages.count(:sender) %></span>
            	<p id="features"> </p>
            </td>

        </tr>
    </tbody>

    </table>
