<%= stylesheet_link_tag  "orders", media: "all" %>
<div id="elixirs">
	<div id="account">
	<ul>
		<h4 class="btn btn-large btn btn-primary">Account/Orders</h4>
		<li>Welcome: <%=current_user.firstname %></li></br>
		<li><%= link_to "Profile", edit_customer_path(current_user)%></li></br>

		<li><%=link_to "Messages", order_messages_path(@order, :format=>:js),
	:remote=>true, :id=>'read_message_link' %>|<span class="badge badge-important">
			<%=@order.messages.count(:sender) %></span></li></br>
		<% if current_user.admin %>
		<li><%= link_to "Orders", orders_url%></li></br>
		<% else %>
		<li><%= link_to "My Orders", current_user%></li></br>
		<% end %>
		
		<li><%= link_to 'processing_orders', '#'%></li></br>
		<li><%= link_to 'complete_orders', '#'%>|
			<span class="badge badge-important">
			<%=@order.states.count(:complete) - @order.states.count(:revision)%> 
		</span>
	</li></br>
		<li><%= link_to 'revisions', '#'%>|
			<% if @order.states.count(:complete)>0 && (@order.states.count(:complete) - @order.states.count(:revision)==0)%>
			<span class="badge badge-important">1</span>
			<% end %>
		</li></br>
			

		<li><%= link_to "Sign out", signout_path, :method=> "delete" %></li></br>
	</ul>
</div>

<p></p>
<div id="features">
<h4><span class="btn btn-large btn btn-info">Service Features</span></h4>
		<ul>

   <li>FREE amendments</li>
    <li>FREE bibliography page</li>
    <li>FREE title page</li>
    <li>FREE Plagiarism report</li>
    <li>FREE Formatting</li>
    <li>100% original papers</li>
    <li>275 words per page</li>
    <li>Any citation style</li>
    <li>Guaranteed Privacy</li>
    <li> 24/7 customer support</li>
    <li>...and Others!</li>
</ul>
</div>
<div id="payments">
	<h3>PayPal Verified</h3>
	<p>You dont need a credit card</p>
	<p>You can Pay for our services via PayPal</p>
	<p>Your transaction will process within minutes</p>
</div>
</div>
<div id="show2">
<p id="notice"> <%=notice %></p>
<table>
  <caption>
<b>
<% if @order.states.count(:complete) - @order.states.count(:revision) >0%>
            <span class="badge badge-important">Complete</span>
<% end %>
</b>
<b>
<% if @order.states.count(:complete)>0 %>
            <% if @order.states.count(:complete) - @order.states.count(:revision)==0 %>
            <span class="badge badge-important">Revision</span>
            <% end %>
    <% end %>
</b>
    <b id="topic"><%= @order.topic %></b>
    <b><%=link_to "Send A Message", new_order_message_path(@order, :format=>:js),
	:remote=>true, :id=>'new_message_link', :class=>"btn btn-small btn-primary"  %></b>
	<% if current_user.admin %>
	<b><%=link_to "Mark as Complete", new_order_state_path(@order, :format=>:js),
	:remote=>true, :id=>'request_link', :class=>"btn btn-large btn-primary"  %></b>
	<% else %>
	<b><%=link_to "Request Revision", new_order_state_path(@order, :format=>:js),
	:remote=>true, :id=>'request_link', :class=>"btn btn-large btn-primary"  %></b>
	<% end %>

	</caption>
<tr>
<th> Deadline:</th>
<th><%= @order.urgency %></th>
<th>Time remaining</th>
<th></th>
</tr>
<tr>
<td>PaperID:</td>
<td>#0412<%=@order.id%>90</td>
<td>Pages</td>
<td><%=@order.pages%></td>
</tr>
<tr>
<td>Order type:</td>
<td><%=@order.documenttype%></td>
<td>Sources</td>
<td><%=@order.references%></td>
</tr>
<tr>
<td>Style:</td>
<td><%= @order.citation %></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Language:</td>
<td><%= @order.language %></td>
<td>Total Cost:</td>
<td>$<%=@total_price%></td>
</tr>
<tr>
	<td><%= @order.instructions %> </td>
<td><% unless @order.purchased_at %>
<td ><%=link_to image_tag("Paypal.png", :alt=>"Buy With PayPal"), @order.paypal_url(order_url, payment_notifications_url)%> </td>
<% end %>
</tr>
</table>
</div>
<div id="uploads">
<%= render :file => 'uploadfiles/new' %>
<% if @order.uploadfiles%>
<td> <% @order.uploadfiles.each do |uploadfile| %>
	<span><%= uploadfile.name %></span>:
	<span><%= link_to "Download file", uploadfile.attachment_url %></span></br>
    <% end %>
</td>
<% end %>
</div>

