<%= stylesheet_link_tag  "uploadfiles",  media: "all" %>
<% if !@uploadfile.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @uploadfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 
  <table>
    <tr>
      <td><b>Upload files</b></td>
    </tr>
<%= form_for([@order, @order.uploadfiles.new]) do |f| %>
<tr>
    <td> <%= f.text_field :name,:placeholder=>"Filename" %></td>
  </tr>
  <tr>
    <td><%= f.file_field :attachment, :placeholder=>"Upload File Here" %></td>
  </tr>
  <tr>
    <td><%=f.submit "Upload", :class=>"btn btn-large btn-primary"%></td>
</tr>

<% end %>
</table>


  