
<% if !@uploadfile.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @uploadfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 
  <table>
    <tr>
      <td><b>Files</b></td>
<%= form_for([@order, @order.uploadfiles.new]) do |f| %>
    <td> <%= f.text_field :name, :size=>"15", :placeholder=>"Filename", :class=>"btn btn-small btn-default"%></td>
    <td><%= f.file_field :attachment, :placeholder=>"Upload File Here"%></td>
    <td><%=f.submit "Upload", :class=>"btn btn-small btn-success"%></td>

    
<% end %>
</tr>
</table>


  