<!DOCTYPE html>
<html>
<head>
  <title>Essaypros</title>
  <%= stylesheet_link_tag "sessions", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="top">
		<div id="logo">
<p>Theacademicwriters.com </p>
  <p>custom writing agency</p>
</div>

</header>
<div>
<nav>
<ul>
	<% if signed_in?%>
    <li class="btn btn-large btn btn-default"><em><%=link_to "Account", current_user %></em></li>
    <%else %>
    <li></li>
    <li></li>
    <li class="btn btn-large btn btn-default"><em><%=link_to "Home", root_path %></em></li>
    <% end %>
    <li class="btn btn-large btn btn-warning"><h4><%=link_to "Order Now", order_now_path %><h4></li>
    <li class="btn btn-large btn btn-default"><em><%=link_to "Pricing", pricing_path %></em></li>
    
    <li class="btn btn-large btn btn-default"><em><a href="op.html">Sample Papers</a></em></li>
    <li class="btn btn-large btn btn-default"><em><%= link_to "Blog",  articles_path %></em></li>
    <li class="btn btn-large btn btn-default"><em><a href="st.html">About Us</a></em></li>
</ul>
</nav>
</div>
  <%= yield %>
  <footer>
&copy; Theacademicwriters
<br>
All trademarks and registered trademarks appearing on
this site are the property of their respective owners.
</footer>
</body>
</html>
