<!DOCTYPE html>
<html>
<head>
  <title>Essaypros</title>
  <%= stylesheet_link_tag    "pages", "menu", "orders",  media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top">
	<div class="logo">
	</div>
</div>
<div id='cssmenu'>
	<ul>
    <li class="active"><%=link_to "Home", root_path %></li>
    <li><%=link_to "Order Now", order_now_path %></li>
    <li><%=link_to "Pricing", pricing_path %></li>
    
    <li><a href="op.html">Testimonials</a></li>
    <li><a href="#">Sample Paper</a></li>
    <li class='last'><a href="st.html">Contact Us</a></li>
    </ul>
</div>
<div  class="login">
  <% unless signed_in?%>
	<%= render :file => 'sessions/new' %>
  <% end %>
</div>

<%=render 'layouts/header' %>
<%= yield %>
<footer>
&copy; 2012, Essaypros custom  writing services
<br>
All trademarks and registered trademarks appearing on
this site are the property of their respective owners.
</footer>
</body>
</html>
